*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --Moderate_violet: hsl(263, 55%, 52%);
    --Very_dark_grayish_blues: hsl(217, 19%, 35%);
    --Very_dark_blackish_blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

/* ### Neutral */

--Light_gray: hsl(0, 0%, 81%);
--Light_grayish_blue: hsl(210, 46%, 95%);

}
.dan,.jean,.jona,.kira, .patric{
    padding: 20px;
    border-radius: 7px;
    color: var(--Light_gray);
}
body{
    font-size: 0.7em;
    background-color: var(--Light_grayish_blue);
}
img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.dan{
    grid-area: dan;
    color: var(--White);
    background-color: var(--Moderate_violet);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-position: 80% 20px;
   
    
}

.text >h4{
    color: var(--White);
}
.text > p{
    color: var(--Light_gray);
}
.dan>p{
    color: var(--Light_grayish_blue);
}
.jona{
    grid-area: jona;
    color: var(--Light_grayish_blue);
    background-color: var(--Very_dark_grayish_blues);
}
h2{
    margin-bottom: 20px;
}
.jean{
    grid-area: jean;
    background-color: var(--White);
}
.patric{
    grid-area: patric;
    color: var(--White);
    background-color: var(--Very_dark_blackish_blue);
}
.kira{
    grid-area: kira;
    background-color: var(--White);
}
.kira >p{
    color: var(--Light_gray);
}
.kira>.profile >.text> h4, .jean> .profile> .text> h4{
    color: var(--Very_dark_grayish_blues);
}
.kira > h2, .jean >h2{
    color: var(--Very_dark_grayish_blues);

}
.jean>p,.jona>.profile> .text> h4 {
    color: var(--Light_gray);
}
.patric>p{
    color: var(--Very_dark_blackish_blues);
}

main{
    display: grid;
    margin: 50px;
    grid-template-areas:
     'dan dan dan jona kira'
     'jean patric patric patric kira';
     gap: 20px;  
}

.profile{
    display: flex;
    justify-items: center;
    align-items: center;

}

.profile > div{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin: 10px;
}

@media (max-width:600px){
    main {
        margin: 20px;
        grid-template-areas:
          'dan'
          'jona'
          'jean'
          'patric'
          'kira';
        grid-template-columns: 1fr;
      }
    
}